* {
    font-family: FiraCode Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(39, 46, 51, 0.5);
    color: #d3c6aa;
}

#workspaces {
    margin-right: 12px;
}

#workspaces button {
    padding-right: 15px;
    color: #d3c6aa;
}

#workspaces button.active {
    color: #a7c080;
    background-color: #2d353b;
}

#clock {
    font-weight: bold;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
    padding: 0 8px;
}

#pulseaudio.muted,
#temperature.critical {
    color: #e67e80;
}
